.button {
  background-color: hsl(158, 36%, 37%);
  border-radius: 15px;
  height: 50px;
  color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.button img {
  margin-right: 10px;
}

.button:hover {
  background-color: #1a4031;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  margin: 1rem;
}

.grid {
  max-width: 700px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 2px 2px 75px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.grid .cover-image img {
  max-width: 100%;
  display: inherit;
}
.grid .product-description {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid .product-description p {
  color: hsl(228, 12%, 48%);
  line-height: 1.6;
  padding-right: 10%;
}
.grid .product-description .header {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
.grid .product-description h1 {
  font-family: "Fraunces", serif;
  font-size: 37px;
  line-height: 0.9;
  color: hsl(212, 21%, 14%);
}
.grid .product-description .price {
  display: flex;
}
.grid .product-description .price-big {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  font-size: 35px;
  margin-right: 10%;
}
.grid .product-description .price-small-crossed {
  font-size: 15px;
  text-decoration: line-through;
  align-self: center;
  color: hsl(228, 12%, 48%);
}

@media only screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .cover-image img {
    content: url(../images/image-product-mobile.jpg);
  }
  .product-description {
    gap: 1rem;
  }
}